body {
	margin: 0;
	border: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: block;
	background: #222;
}

* {
	cursor: url('/game/sprites/cursor.png') 16 16, auto;
}

@font-face {
	font-family: 'BabelStoneFlags';
	src: url('/game/sprites/BabelStoneFlags.ttf') format('truetype');
}
